{% extends 'base.html' %}

{% block title %}
    Profile - Your Site Name
{% endblock %}

{% block content %}
    <h1>Welcome, {{ user.username }}!</h1>
    <p>Your Profile Information:</p>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
        {{user.email}}
        <!-- Add other user profile fields if available -->
    </ul>
   

    <!-- Update Profile Button -->
    <!-- Add other profile-related functionalities or information here -->
{% endblock %}
